.App {
  text-align: center;
}

body{
  background-color: white;
}

.headerNotes{
  box-sizing: border-box;
  margin-top: 2%;
  margin-left: 10%;
  padding: 0;
  border-width: 0ch;
}

.header{
  font-size: 30px;
  color: rgb(67, 136, 67);
  position: absolute;
  margin-top: 0;
}

.buttonStyle{
  background-color: rgb(196, 193, 193);
  border: 3px solid rgb(67, 136, 67);
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  width: 120px;
  position: absolute;
  margin-left: 27%;
}

.search{
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid rgb(67, 136, 67);
  padding: 0;
  width: 80%;
  line-height: 40px;
  margin-top: 5%;
}